# Module 1 / Project 3 / Capital Bike Share

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime # Alternative to Datetime64[ns] with more options to process time.
from datetime import date
import calendar


from numpy import mean
from numpy import std

plt.rcParams['figure.dpi'] = 100   # Setting the resolution of the plots we get.
plt.rcParams['savefig.dpi'] = 100

# Observations and learnings of this project.

## Datetime import 
Alternative to Datetime64[ns] with more options to process time.

## Combine multiple CSV's with same fields/features into one CSV with 8 lines of code.
import os
import glob
import pandas as pd
os.chdir("CSV")

extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f) for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8-sig')

##

In [55]:
bike_10_17 = pd.read_csv("CBS Trip Data/CBS_10-17.csv")

In [60]:
bike_10_17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19117643 entries, 0 to 19117642
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start date            datetime64[ns]
 2   End date              object
 3   Start station number  int64
 4   Start station         object
 5   End station number    int64
 6   End station           object
 7   Bike number           object
 8   Member type           object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 1.3+ GB

In [56]:
df_bike = bike_10_17

In [10]:
# Import CSV

bike = pd.read_csv("CSV/combined.csv")

In [58]:
display(df_bike.info())

display(df_bike.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19117643 entries, 0 to 19117642
Data columns (total 9 columns):
 #   Column                Dtype
---  ------                -----
 0   Duration              int64
 1   Start date            object
 2   End date              object
 3   Start station number  int64
 4   Start station         object
 5   End station number    int64
 6   End station           object
 7   Bike number           object
 8   Member type           object
dtypes: int64(3), object(6)
memory usage: 1.3+ GB

None

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
0,149,2016-04-01 00:00:30,2016-04-01 00:03:00,31267,17th St & Massachusetts Ave NW,31214,17th & Corcoran St NW,W00443,Member
1,847,2016-04-01 00:00:46,2016-04-01 00:14:54,31247,Jefferson Dr & 14th St SW,31623,Columbus Circle / Union Station,W21938,Member
2,844,2016-04-01 00:00:56,2016-04-01 00:15:00,31247,Jefferson Dr & 14th St SW,31623,Columbus Circle / Union Station,W20351,Casual
3,110,2016-04-01 00:01:55,2016-04-01 00:03:45,31214,17th & Corcoran St NW,31278,18th & R St NW,W01385,Member
4,240,2016-04-01 00:02:00,2016-04-01 00:06:01,31121,Calvert St & Woodley Pl NW,31104,Adams Mill & Columbia Rd NW,W20787,Member

In [59]:
# df_clean["Release_Date"] = df_clean["Release_Date"].astype("datetime64")
# df_clean.info()

df_bike["Start date"] = df_bike["Start date"].astype("datetime64")

In [39]:
# to serach for specific features.
df_bike.loc[(df_bike["Start date"] == "2016-04-01 00:01:55")]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
3,110,2016-04-01 00:01:55,2016-04-01 00:03:45,31214,17th & Corcoran St NW,31278,18th & R St NW,W01385,Member

In [42]:
# check for how many NaN we have

df_bike.iloc[ : , : ].isna().sum()

Duration                0
Start date              0
End date                0
Start station number    0
Start station           0
End station number      0
End station             0
Bike number             0
Member type             0
dtype: int64

In [ ]:
print(datetime.today().isoweekday())
curr_date = datetime.today()
print(calendar.day_name[curr_date.weekday()])

# Can one user unlock multiple bikes.

In [30]:
bike[bike.duplicated(["Start date", "End date"], keep=False)]

,Duration,Start date,End date,Start station number,Start station,End station number,End station,Bike number,Member type
785,579,2012-01-01 13:10:29,2012-01-01 13:20:08,31208,M St & New Jersey Ave SE,31609,Maine Ave & 7th St SW,W01300,Member
786,579,2012-01-01 13:10:29,2012-01-01 13:20:08,31208,M St & New Jersey Ave SE,31609,Maine Ave & 7th St SW,W01341,Member
9817,573,2012-01-05 10:57:35,2012-01-05 11:07:09,31246,M St & Pennsylvania Ave NW,31100,19th St & Pennsylvania Ave NW,W00459,Member
9818,574,2012-01-05 10:57:35,2012-01-05 11:07:09,31244,4th & E St SW,31228,8th & H St NW,W00582,Member
18098,167,2012-01-07 14:29:20,2012-01-07 14:32:08,31228,8th & H St NW,31620,5th & F St NW,W00970,Member
...,...,...,...,...,...,...,...,...,...
3233320,643,2011-12-20 21:30:56,2011-12-20 21:41:40,31614,11th & H St NE,31613,Eastern Market Metro / Pennsylvania Ave & 7th ...,W01123,Member
3255598,577,2011-12-31 21:51:22,2011-12-31 22:00:59,31106,Calvert & Biltmore St NW,31229,New Hampshire Ave & T St NW,W00623,Member
3255599,577,2011-12-31 21:51:22,2011-12-31 22:00:59,31106,Calvert & Biltmore St NW,31229,New Hampshire Ave & T St NW,W01467,Member
3255641,286,2011-12-31 22:50:50,2011-12-31 22:55:37,31245,7th & R St NW / Shaw Library,31111,10th & U St NW,W01178,Member
3255642,287,2011-12-31 22:50:50,2011-12-31 22:55:37,31245,7th & R St NW / Shaw Library,31111,10th & U St NW,W01186,Member

In [36]:

plt.figure(figsize=(12,9))
sns.set(rc={'axes.facecolor':'white', 'figure.facecolor':'white'})
sns.set_style("whitegrid")
plots = sns.countplot(df_bike["Member type"], hue=df_bike.wine_type, palette=["red", "silver"])
plt.xlabel('Quality')
plt.ylabel('Count')
for bar in plots.patches:
    plots.annotate(format(bar.get_height(), '.0f'),
                   (bar.get_x() + bar.get_width() / 2,
                    bar.get_height()), ha='center', va='center',
                   size=15, xytext=(0, 8),
                   textcoords='offset points')

AttributeError: 'DataFrame' object has no attribute 'wine_type'